<div class="w-full h-screen flex items-center justify-center">

    <div class="w-96 border shadow-md rounded-md p-8 flex gap-4 flex-col">

        <div class="text-4xl text-center mb-6">Login</div>

        <div class="">
            <input type="text" class="w-full p-2 rounded-md focus:outline-none " placeholder="Email">
        </div>
        <div class="">
            <input type="password" class="w-full p-2 rounded-md focus:outline-none " placeholder="Password">
        </div>

        <div class="text-xs text-right">Don't you have an account? <a class="font-bold cursor-pointer"
                routerLink="/register">Register</a>
        </div>

        <div>
            <app-button label="Login" (onBtnClick)="onLogIn($event)" />
        </div>

    </div>

</div>